Gabriel Camargo
Pedro Fonseca
Victor Aprigliano

Tema: Regressão - Preço das Casas em King Country, USA.

In [1]:
%matplotlib inline
import math
import pandas as pd
import matplotlib.pyplot as plt
import os
from numpy import arange
import numpy as np

In [2]:
dados = pd.read_csv('kc_house_data.csv',sep=',')
for j in dados.columns:
    if j!='date':
        if j!='id':
            if j!='price':
                print(j)
                print(dados[j].corr(dados['price'])) #mais 3 pq as as duas primeiras nao sao quantitativas e a terceira eh o proprio preco

bedrooms
0.308349598146
bathrooms
0.525137505414
sqft_living
0.702035054612
sqft_lot
0.0896608605871
floors
0.256793887551
waterfront
0.266369434031
view
0.397293488295
condition
0.036361789129
grade
0.66743425602
sqft_above
0.605567298356
sqft_basement
0.323816020712
yr_built
0.0540115314948
yr_renovated
0.126433793441
zipcode
-0.0532028542983
lat
0.307003479995
long
0.0216262410393
sqft_living15
0.58537890358
sqft_lot15
0.0824471525195

Para a regressao escolhemos as variaveis com correlacao mais forte com o preco:

In [3]:
dados = dados.loc[:,['date','price','bedrooms',"bathrooms",'floors','view','sqft_living','sqft_above',"grade"]]
#dados.columns=["Data de compra","Preço (US DOLLAR)","Nº Dormitórios","Nº Banheiros","Andares","Vista",'Área de Lazer',"Área Térrea","Avaliação"]
#dados['Data'] = pd.to_datetime(dados.Data).dados.strftime('%d/%m/%Y')
dados.head()

,date,price,bedrooms,bathrooms,floors,view,sqft_living,sqft_above,grade
0,20141013T000000,221900.0,3,1.00,1.0,0,1180,1180,7
1,20141209T000000,538000.0,3,2.25,2.0,0,2570,2170,7
2,20150225T000000,180000.0,2,1.00,1.0,0,770,770,6
3,20141209T000000,604000.0,4,3.00,1.0,0,1960,1050,7
4,20150218T000000,510000.0,3,2.00,1.0,0,1680,1680,8

In [10]:
from sys import stdin
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LinearRegression
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

price = dados["price"]
space = dados["sqft_living"]
x = np.array(space).reshape(-1, 1)
y = np.array(price)
model = LinearRegression()
model.fit(x, y)

d = 70000000010
pred = model.predict(d)
for i in pred:
    i = str(int(i))
    print("Predicted House Price: " + "$" + i)

Predicted House Price: $19643649712046

In [ ]:
fig = plt.figure(figsize=(11, 5))
#faixa = arange(1000,2000000,30000)
dados["lnprice"]=(np.log((dados.price)))/(np.log(math.e))
plot= dados.lnprice.plot.hist( title='Histograma Preco', normed=1, alpha=0.6,color = 'b')
plt.ylabel('Densidade')
plt.xlabel("Preco [Dolares americanos]")
plt.show()

In [ ]:
pm=dados.price.mean()
gm=dados.grade.mean()
Sxx=0
Sxy=0
for a in range(len(dados)):
    Sxy=Sxy+((dados.grade[a])-gm)*(dados.price[a]-pm)
    Sxx=Sxx+(((dados.grade[a])-gm)**2)
b1=Sxy/Sxx
print("b1:")
print(b1)
b0=pm-gm*b1
print("b0:")
print(b0)
e1=[]
SSe=0
SSr=0
for a in range(len(dados)):
    e1.append(dados.price[a]-(b0+b1*(dados.grade[a])))
    SSe=SSe+(dados.price[a]-(b0+b1*(dados.grade[a])))**2
    SSr=SSr+(dados.price[a]-pm)**2
SSt=SSr+SSe
Rsqt=1-(SSe/SSt)
print(Rsqt)

In [ ]:
import statsmodels.api as sm
Y = dados['price']
X=dados[['grade','sqft_living','sqft_above']
X=sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
results.summary()